<% unless current_user %>
  Not authenticated
  <%= link_to 'Sign In With Google', "/auth/google_oauth2", class: "btn btn-primary" %>
<% else %>
  <div class="panel panel-default page-panel">
    <div class="panel-header"><h2>People using this app</h2></div>
    <ul class="list-group">
      <%= render @users %>
    </ul>
  </div>
<% end %>
